<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin | Patient</title>
  <link rel="stylesheet" href="{% static '/css/admin.css'%}" />
  <link rel="stylesheet" href="{% static '/css/general.css'%}" />
    <link rel="stylesheet" href="{% static '/css/edit.css'%}">


  <style>
    .profile-text {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
      .error-1{
            color: red;
            font-size: 0.8rem;
            text-align: center;
            margin-left: 1rem;
            margin-bottom: 1rem;
}
  </style>
</head>

<body>
  <div class="doc-vt vertical-bar">
    <div class="profile-section">
      <div class="profile-img-section">
        <p class="profile-img">
          <img src="/media/{{items.AdminImg}}" class="admin-img" />
        </p>
      </div>
      <div class="profile-text">
        <p class="profile-name">{{items.AdminName}}</p>
        <p class="profile-email">{{items.AdminMail}}</p>
      </div>
    </div>
    <div class="logout-section">
      <a href="{% url 'logout' %}" class="btn logout-btn">Log out</a>
    </div>
    <div class="nav-list-section">
      <ul class="nav-list-items">
        <li class="list-items active">
          <a href="{% url 'adminDashboard' %}" >Dashboard</a>
        </li>
        <li class="list-items"><a href="{% url 'admindoc' %}" >Doctors</a></li>
        <li class="list-items">
          <a href="{% url 'adminsche' %}">Schedule</a>
        </li>
        <li class="list-items">
          <a href="{% url 'adminappoint' %}">Appointment</a>
        </li>
        <li class="list-items"><a href="{% url 'adminpatient'%}" class="active-page">Patients</a></li>
      </ul>
    </div>
  </div>
  <div class="right-container">
     <div class="display-section">
      <p class="h2">Welcome back,</p>
     <p class="h5">{% now "Y-m-d"%}</p>
      <p class="h5" id="time">00:00:00 PM Sunday</p>
    </div>
    <p class="h5">Patients</p>

    <div class="patient-section">
       {% block content %}
      <div class="cta">
        <form method="GET" action="{% url 'adminpatient' %}">
        {% csrf_token %}
        <div class="input-group mb-3" >
            <input type="search" id="patient_name" name="patient_name" placeholder="Search by patient name..." aria-label="Search by patient name..." >

                <button class="btn-outline-primary" type="submit" >Search</button>

        </div>
    </form>
      </div>
    </div>

    <table class = "table">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Phone No</th>
        <th>DOB</th>
        <th>Address</th>
        <th>Password</th>
        <th colspan="2"> Actions</th>
    </tr>
    {% for patient in patient_table %}
    <tr>
        <td><img src="/media/{{patient.PatientImg}}" class="admin-img"></td>
        <td>{{ patient.PatientName }}</td>
        <td>{{ patient.PatientMail }}</td>
        <td>{{ patient.PatientPh }}</td>
        <td>{{ patient.PatientDob }}</td>
        <td>{{ patient.PatientAddr }}</td>
        <td>{{ patient.PatientPwd }}</td>
        <td><a href='/update_patient/{{patient.PatientID}}' class="btn-outline-edit">Edit</a></td>
        <td><a href='/delete_patient/{{patient.PatientID}}' class="btn-outline-danger">Delete</a></td>
    </tr>
    {% endfor %}
    </table>
       <p class="result-msg">{{message}}</p>
      {%endblock%}
  </div>
<script src="{%static 'js/time.js'%}"></script>
</body>

</html>