<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/home.css'%}" />


    <title>Apppintment | Stage 2</title>
    <style>
        .dimg{
            width:5rem;
            border-radius:50%;
        }
        .result-txt{
        text-align:center;
        }
    </style>
</head>

<body>

    <div class="appoint-section">
        <p class="header">
            Make Appointment
        </p>
        <p class="action-section">
        <ul class="action-list">
            <li class="actions"><a class="action ">1</a></li>
            <li class="actions"><a class="action active-action">2</a></li>
            <li class="actions"><a class="action">3</a></li>
            <li class="actions"><a class="action">4</a></li>
        </ul>
        </p>
        <form method="post" class="search-form">
            {% csrf_token %}
            <p class="name-search">
                <input type="text" class="search-name" name="docname" placeholder="Search Doctor Name">
                <button type="submit" value="submit" class="search-btn">Search</button>
            </p>

        </form>
        <p class="result-txt">{{message}}</p>
        <p class="radio-btn action2-back"><a href="{% url 'search_view' %}" class="back-btn">Back</a>
    </div>

</body>

</html>