<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/css/home.css'%}" />
    <title>Appointment | Stage 3</title>
    <style>
        .result-msg{
      text-align:center;
      margin-top:1rem;
      }
    </style>
</head>

<body>
    <div class="appoint-section">
        <p class="header">
            Make Appointment
        </p>
        <p class="action-section">
        <ul class="action-list">
            <li class="actions"><a class="action">1</a></li>
            <li class="actions"><a class="action">2</a></li>
            <li class="actions"><a class="action active-action">3</a></li>
            <li class="actions"><a class="action">4</a></li>
        </ul>
        </p>
       <p class="sub-header-section">
            <span class="subheader">Available Date</span>
        </p>
        <div class="session-section">
            <p class="result-msg">No Schedule Found</p>
        </div>
        <p class="radio-btn back-section"><a href="{% url 'search_view' %}" class="back-btn">Back</a>
    </div>

</body>

</html>