<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/home.css'%}" />


    <title>Appointment | Stage 4</title>
    <style>
        .smsg{
        text-align:center;
        font-weight:500;
        font-size:1.2rem;
        color:red;
        }
        .back-btn{
        margin-left:4rem;
        }
    </style>

</head>

<body>

    <div class="appoint-section">
        <p class="header">
            Make Appointment
        </p>
        <p class="action-section">
        <ul class="action-list">
            <li class="actions"><a class="action ">1</a></li>
            <li class="actions"><a class="action ">2</a></li>
            <li class="actions"><a class="action ">3</a></li>
            <li class="actions"><a class="action active-action">4</a></li>
        </ul>
        </p>
        <p class="sub-header-section">
            <span class="token-header">Your Token Number is</span>
        </p>
        {% if msg%}
        <p class="smsg">{{msg}}</p>
         <p class="radio-btn back-section"><a href="{% url 'search_view' %}" class="back-btn">Back</a>
        {%else%}
        <p class="token-section">
            <span class="tokens">{{token}}</span>
        </p>

        <p class="confirm-section">
            <a href="{% url 'list'%}" class="search-btn">Done</a>
        </p>
        {%endif%}
    </div>

</body>

</html>