<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/css/home.css'%}" />
    <title>Appointment | Stage 1</title>
    <style>
        .radio-btn1{
        display:flex;
        align-items:center;
        gap:10rem;
        }
        .back-btn{
        text-decoration:none;
        font-size:1.2rem;
        }
        .next-btn{
        outline:0;
        border:0;
        }
        .appoint-section{
        overflow:hidden
        }
    </style>
</head>

<body>
    <div class="appoint-section">
        <p class="header">
            Make Appointment
        </p>
        <p class="action-section">
        <ul class="action-list">
            <li class="actions"><a class="action active-action">1</a></li>
            <li class="actions"><a class="action">2</a></li>
            <li class="actions"><a class="action">3</a></li>
            <li class="actions"><a class="action">4</a></li>
        </ul>
        </p>
        <form method="post" class="radio-form">
             <p class="radio-section">
            {%csrf_token%}

            {{form.as_p}}
            </p>
            <p class="radio-btn1"><a href="{% url 'list'%}" class="back-btn">Back</a>
            <button type="submit" onclick="location.href='{% url 'search_view' %}'" class="next-btn">Next</button></p>


        </form>

    </div>
    <footer class="footer-section">
        <div class="addr-section addr-footer">

            <div class="addr footer-color footer-addr">
                <address>201 E. FRONT STREET MISSOULA, MT 59802</address>
            </div>

            <div class="phnumber footer-color">Contact Us: 09456829202</div>
            <hr class="line" />

            <div class="copyrigt-section">
                <p class="copyright footer-color">©2024 Hospital Appointment</p>
            </div>
        </div>
        <p class="copyright-photo footer-color">
            PHOTOGRAPHY BY:<span class="photo-name"> Unsplash</span>
        </p>
    </footer>
</body>

</html>