<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/css/home.css'%}" />
    <title>Appointment | Stage 4</title>

</head>

<body>
    <div class="appoint-section">
        <p class="header">
            Make Appointment
        </p>
        <p class="action-section">
        <ul class="action-list">
            <li class="actions"><a class="action">1</a></li>
            <li class="actions"><a class="action">2</a></li>
            <li class="actions"><a class="action active-action">3</a></li>
            <li class="actions"><a class="action">4</a></li>
        </ul>
        </p>
       <p class="sub-header-section">
            <span class="subheader">Available Date</span>
        </p>
        <div class="session-section">

            <table class="table">
                <thead>
                    <tr>
                        <th>DoctorName</th>
                        <th>SessionDate</th>


                        <th>StartTime</th>
                        <th>EndTime</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                     {% for x in schedule %}
                    <tr>
                        <td>{{x.Doctor}}</td>
                        <td>{{x.ScheduleDate}}</td>
                        <td>{{x.ScheduleStartTime}}</td>
                        <td>{{x.ScheduleEndTime}}</td>
                        <td><a href="/tokenfun/{{x.ScheduleID}}" class="search-btn">Appoint</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <p class="radio-btn back-section"><a href="{% url 'search_view' %}" class="back-btn">Back</a>

    </div>
    <footer class="footer-section">
        <div class="addr-section addr-footer">

            <div class="addr footer-color footer-addr">
                <address>201 E. FRONT STREET MISSOULA, MT 59802</address>
            </div>

            <div class="phnumber footer-color">Contact Us: 09456829202</div>
            <hr class="line" />

            <div class="copyrigt-section">
                <p class="copyright footer-color">©2024 Hospital Appointment</p>
            </div>
        </div>
        <p class="copyright-photo footer-color">
            PHOTOGRAPHY BY:<span class="photo-name"> Unsplash</span>
        </p>
    </footer>
</body>

</html>